body{
    background-color: #ece;
}

h1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8em;
    margin:0px;
}